{% extends 'base.html.twig' %}
{% block body %}
    <div class="row fixed" style="margin-left:5%;margin-top:5%">
    <div class="col-16">
    <div class="card">
    <div class="card-header">
        <h3  >Liste des medias</h3>

        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">

            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height:400px;width:1000px;">
    <table class="table table-head-fixed  table align-middle">
        <thead>
        <tr>
            <td>id</td>
            <td>image</td>
            <td>video</td>
            <td>produit</td>
        </tr>
        </thead>
        {% for med in media %}
            <tr>
                <td>{{ med.id }}</td>
                <td><img src="{{ asset ('upload/image/'~ med.image)}}"  style="width:40px;height:40px"/></td>
                <td>{{ med.video }}</td>
                <td>{{ med.produit }}</td>

                <td><a href="{{  path('media_delete',{id:med.id} ) }}" onclick="return confirm('Etes-vous sur de supprimer ce produit?');">
                        <button class="btn btn-warning0">Supprimer</button> </a></td>
                <td><a href="{{  path('media_update',{id:med.id})}}" >
                        <button class="btn btn-danger" >Modifier</button> </a></td>
            </tr>
        {% endfor %}
    </table>

        </tbody>
        </table>
    </div>
        <!-- /.card-body -->
    </div>
        <!-- /.card -->
    </div>
    </div>
    <td><a href="{{  path('media_add')}}" >
            <button class="btn btn-danger" >Ajouter</button> </a></td>
{% endblock %}