{% block stylesheets %}
 <!--font-awesome.min.css-->
 <link rel="stylesheet" href="{{ asset ('assets/css/font-awesome.min.css')}}" />
 <!--animate.css-->
 <link rel="stylesheet" href="{{ asset ('assets/css/animate.css')}}" />
 <!--hover.css-->
 <link rel="stylesheet" href="{{ asset ('assets/css/hover-min.css')}}">
 <!--datepicker.css-->
 <link rel="stylesheet"  href="{{ asset ('assets/css/datepicker.css')}}" >
 <!--owl.carousel.css-->
 <link rel="stylesheet" href="{{ asset ('assets/css/owl.carousel.min.css')}}">
 <link rel="stylesheet" href="{{ asset ('assets/css/owl.theme.default.min.css')}}"/>
 <!-- range css-->
 <link rel="stylesheet" href="{{ asset ('assets/css/jquery-ui.min.css')}}" />
 <!--bootstrap.min.css-->
 <link rel="stylesheet" href="{{ asset ('assets/css/bootstrap.min.css')}}" />
 <!-- bootsnav -->
 <link rel="stylesheet" href="{{ asset ('assets/css/bootsnav.css')}}"/>
 <!--style.css-->
 <link rel="stylesheet" href="{{ asset ('assets/css/style.css')}}" />
 <!--responsive.css-->
 <link rel="stylesheet" href="{{ asset ('assets/css/responsive.css')}}" />

{% endblock %}
{% block javascripts %}



 <script src="{{ asset ('assets/js/jquery.js') }}"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <!--modernizr.min.js-->
 <script  src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
 <!--bootstrap.min.js-->
 <script  src="{{ asset ('assets/js/bootstrap.min.js')}}"></script>
 <!-- bootsnav js -->
 <script src="{{ asset ('assets/js/bootsnav.js')}}"></script>
 <!-- jquery.filterizr.min.js -->
 <script src="{{ asset ('assets/js/jquery.filterizr.min.js')}}"></script>
 <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
 <!--jquery-ui.min.js-->
 <script src="{{ asset ('assets/js/jquery-ui.min.js')}}"></script>
 <!-- counter js -->
 <script src="{{ asset ('assets/js/jquery.counterup.min.js')}}"></script>
 <script src="{{ asset ('assets/js/waypoints.min.js')}}"></script>
 <!--owl.carousel.js-->
 <script  src="{{ asset ('assets/js/owl.carousel.min.js')}}"></script>
 <!-- jquery.sticky.js -->
 <script src="{{ asset ('assets/js/jquery.sticky.js')}}"></script>
 <!--datepicker.js-->
 <script  src="{{ asset ('assets/js/datepicker.js')}}"></script>
 <!--Custom JS-->
 <script src="{{ asset ('assets/js/custom.js')}}"></script>
{% endblock %}

 {% block head %}

  <!-- META DATA -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
 {% endblock %}

{% block body %}
 {% for message in app.flashes('message') %}
    <div class="alert alert-success" role="alert">
  {{ message }}
    </div>
 {% endfor %}
 {% for message in app.flashes('warning') %}
  <div class="alert alert-warning" role="alert">
   {{ message }}
  </div>
 {% endfor %}
 {% for message in app.flashes('danger') %}
  <div class="alert alert-danger" role="alert">
   {{ message }}
  </div>
 {% endfor %}
 <div class="container mt" style="background-color: beige">
 <div class="card-header">
  <h3 class="card-title">Connecter à Votre Compte</h3>
 </div>
 <form method="post">
 {% if error %}
   <div class="alert alert-danger" >{{ error.messageKey|trans(error.messageData,"security")}} </div>
 {% endif %}
  {% for message in app.flashes('success') %}
   <div class="flash-notice alert alert-success alert-dismissible">
    {{ message }}
   </div>
  {% endfor %}
 {% if app.user %}
   <div class="mb_3">
      you are logged in as {{app.user.nom}},<a href="{{ path('security_logout') }}">Logout</a>
   </div>
 {% endif %}
 <form action="{{ path('security_login') }}"  method="post">
  <div class="form-group">
   <input type="email" placeholder="Adresse email..." required name="_username" type="text" class="form-control">
  </div>
  <div class="form-group">
   <input type="password" placeholder="Mot de passe..." required name="_password" type="text" class="form-control">
   <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">
  </div>
  <div class="form-group">
   <button type="submit" class="btn btn-success btn_block">Connexion</button>
  </div>
 </form>
 </form>
  <div class="form-group">
   <label class="custom-control custom-checkbox">
     <a href="{{ path('app_forgotten_password') }}" class="float-right small text-dark mt-1">Mot de passe oublié</a>
   </label>
  </div>
  <div class="text-center  mt-3 text-dark">
   Don't have account yet? <a href="{{ path('security_registration') }}">S'inscrire</a>
  </div>
 </div>
{% endblock %}