
{% block stylesheets %}
<!-- Font Awesome -->
<link rel="stylesheet" href="{{ asset ('plugins/fontawesome-free/css/all.min.css')}}">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="{{ asset ('plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
<!-- Theme style -->
<link rel="stylesheet" href="{{ asset ('dist/css/adminlte.min.css')}}">
{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="{{ asset ('plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset ('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- overlayScrollbars -->
<script src="{{ asset ('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{ asset ('dist/js/adminlte.min.js')}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset ('dist/js/demo.js')}}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

{% endblock %}









{{ form_start(form, {'action': path('create_souscategorie')})}}

<div class="card-body">
  <button type="button"class="btn btn-block btn-secondary " data-toggle="modal" data-target="#modal-default" style="margin-left:690px;width:250px">
    Ajouter une sous catégorie
</button>

  </button>
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h4 class="modal-title">Ajouter une sous catégorie</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
<form action="{{path('create_categorie')}}"  method="POST">
      {{ form_row(form.libelle, {attr: {class: 'form-control '} }) }}
      
      <div class="form-group">
      {{ form_row(form.description , {attr: {class: 'form-control'}}) }}

      
  
      </div>

      <div class="form-group">
        {{ form_row(form.categorie , {attr: {class: 'form-control'}}) }}
  
        
    
        </div>
  

 
  </div>

  <div class="modal-footer justify-content-between">
    <a type="button" href="{{path('read_categorie')}}" class="btn btn-secondary ">Retour</a>
  {{ form_row(form.save,{attr: {class: 'btn btn-primary'}}) }}
  {{ form_end(form) }}

  </div>
  </div>
  
  </div>
  
  </div>
 </div>
 
  

