{% extends 'base.html.twig' %}
 {% block title %}
      Liste des Billets
 {% endblock %}

 {% block body %}
     {% for message in app.flashes('info') %}
         <div class="alert alert-success">
             {{ message }}
         </div>
     {% endfor %}
     <h1 style="margin-left:300px;text-align:center"><strong style="color:blue">Liste des billets</strong></h1>
     <table border="1" class="table text-nowrap table-bordered table-striped" style="width:700px;height:90px;margin-top:1%;margin-left:100px">
    <tr>
        <th scope="row">ID</th>
        <th scope="row">Nombre de Billets</th>

    </tr>
    {% for bill in billet %}
    <tr>
        <td>{{ bill.id}} </td>
        <td>{{ bill.getNombreBillet()}} </td>
        <td><a href="{{  path('updatebillet',{id:bill.id})}}"> <button class="btn btn-secondary">Modifier</button></a> </td>
        <td><a href="{{  path('deletebillet',{id:bill.id})}}" onclick="return confirm('Etes-vous sur de supprimer cette billet?');">
                <button class="btn btn-danger" >Supprimer</button> </a></td>
    </tr>
        {% endfor %}
     </table>
     <div style="margin-left:400px;"> <a class="btn-info" href="{{path('newbillet')}}"> Ajouter une nouvelle Billet </a>
     </div>
{% endblock %}