{% for res in reservation %}
    <tr>
        <td>{{ res.id}} </td>
        <td>{{ res.getDateRes()|date('d-m-y') }}</td>
        <td>{{ res.getHeureRes()|date(' H:i:s') }}</td>
        <td>{{ res.statut }}</td>
        <td>{{ res.cout }}</td>
        <td><a href="{{  path('updatereservation',{id:res.id})}}"> <button class="btn btn-secondary">Modifier</button></a> </td>
        <td><a href="{{  path('deletereservation',{id:res.id})}}" onclick="return confirm('Etes-vous sur de supprimer cette reservation?');">
                <button class="btn btn-danger" >Supprimer</button> </a></td>
    </tr>
{% endfor %}