{% extends 'base.html.twig' %}
{% block body %}
    <div class="row fixed" style="margin-left:5%;margin-top:5%">
    <div class="col-16">
    <div class="card">
    <div class="card-header">
        <h3  >Liste des Avis</h3>

        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">


            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height:400px;width:1000px;">
    <table class="table table-head-fixed  table align-middle">
        <thead>
        <tr>
            <td>id</td>
            <td>commentaire</td>
            <td>note</td>
            <td>demandeEvent</td>
            <td>utilisateur</td>
            <td>Actions</td>
        </tr>
        </thead>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td>{{ avi.commentaire }}</td>
                <td>{{ avi.note }}</td>
                <td>{{ avi.demandeEvent.getStatut()}}</td>
                <td>{{ avi.utilisateur.getNom()}}</td>
                <td><a href="{{  path('avis_delete',{id:avi.id})}}" onclick="return confirm('Etes-vous sur de supprimer ce produit?');">
                        <button class="btn btn-danger" >Supprimer</button> </a></td>
                <td><a href="{{  path('avis_update',{id:avi.id})}}" >
                        <button class="btn btn-warning" >Modifier</button> </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
        <!-- /.card-body -->
    </div>
        <!-- /.card -->
    </div>
    </div>
    <td><a href="{{ path('avis_add')}}" >
            <button class="btn btn-success" >Ajouter</button> </a></td>
{% endblock %}