<div class="card-body">
  <button type="button"class="btn btn-block btn-secondary " data-toggle="modal" data-target="#modal-default" style="margin-left:750px;width:200px">
    Ajouter une délégation
</button>

  </button>
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h4 class="modal-title">Ajouter une délégation</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {{ form_start(form, {'action': path('create_del')})}}
  <div class="modal-body">
      {{ form_row(form.nom, {attr: {class: 'form-control '} }) }}
      
      <div class="form-group">
      {{ form_row(form.gouvernorat , {attr: {class: 'form-control'}}) }}

      
  
      </div>
 
  </div>

  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:280px;">Fermer</button>
  {{ form_row(form.save,{attr: {class: 'btn btn-primary'}}) }}
  {{ form_end(form) }}
<div class="form-group">
</div>
  </div>
  </div>
  
  </div>
  
  </div>
 </div>
 
  

