

{% extends 'base.html.twig' %}


{% block body %}

<div class="card card-info ">
<div class="card-header">
<h3 class="card-title">Ajouter une demande D'évenement</h3>
</div>
<div class="card-body">

{{ form_start(form) }}


<div class="form-group">
<label>Destination</label>
  {{ form_widget(form.destination) }}
</div>



<div class="form-group">
<label>Date Demande</label>
  {{ form_widget(form.date_demande) }}
</div>

<div class="form-group">
<label>Status</label>
  {{ form_widget(form.statut) }}
</div>


<div class="form-group">
<label>Description Demande</label>
  {{ form_widget(form.description_demande) }}
</div>


<div class="form-group">
<label>Date Debut Evenement</label>
  {{ form_widget(form.date_debutEvent) }}
</div>

<div class="form-group">
<label>Date Fin Evenement</label>
  {{ form_widget(form.date_finEvent) }}
</div>



<div class="form-group">
<label>Heure Debut Evenement</label>
  {{ form_widget(form.heure_debutEvent) }}
</div>

<div class="form-group">
<label>Heure Fin Evenement</label>
  {{ form_widget(form.heure_finEvent) }}
</div>


<div class="form-group">
<label>Description Evenement</label>
  {{ form_widget(form.description_event) }}
</div>


<div class="form-group">
<label>Capacite</label>
  {{ form_widget(form.capacite) }}
</div>
{{ form_errors(form) }}
{{ form_end(form) }}
</div>
</div>
{% endblock %}
