{% extends 'base.html.twig' %}

{% block title %}Hello DemandeEvenementController!{% endblock %}

{% block body %}
<section class="content">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="form-inline justify-content-between">
  
                <div class=" my-2 my-sm-0" >
                  <div class="input-group input-group-sm " style="width: 150px;">
                    <input type="text" name="table_search" class="form-control   " placeholder="Search"  placeholder="Search">
                    <div class="input-group-append">
                      <button  class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
           
  <div class="card-body">
<table id="example1" class="table table-bordered table-striped">

<thead>
<tr>
<th>Origine</th>
<th>Destination</th>
<th>Date Demande</th>
<th>Description demande</th>
<th>Evenement</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
<tr>
{% for lde in listDemandeEvenementRefuser   %}
<td>{{lde.getUtilisateur().getLogin()}}</td>
<td>{{lde.getDestination().getNom()}}</td>
<td>{{lde.getDateDemande()|date()}}</td>
<td>{{lde.getLibelleEvenement()}}</td>






 <td><a href="{{ path('updateDemandeEvenementRefuser',{'id':lde.id}) }}">voir detail</a></td>
  <td> <a href="{{ path('deleteDemandeEvenementRefuser',{'id':lde.id}) }}" class="nav-link " style="color:rgb(190, 18, 18);"><i class="nav-icon fas fa-trash"></i></a></td>
 
</tr>
 
{%endfor%}

</tbody>
<tfoot>
</tfoot>
</table>
</div>

</div>

</div>

</div>

</div>

</section>
  
  <div >
 <pagination-controls id= 'DBPagination'  (pageChange)="currentPg = $event"></pagination-controls>
 
 </div>
</div>



<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock %}
