
{% extends 'base.html.twig' %}





{% block stylesheets %}
<!-- Font Awesome -->
<link rel="stylesheet" href="{{ asset ('plugins/fontawesome-free/css/all.min.css')}}">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="{{ asset ('plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
<!-- Theme style -->
<link rel="stylesheet" href="{{ asset ('dist/css/adminlte.min.css')}}">
{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="{{ asset ('plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset ('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- overlayScrollbars -->
<script src="{{ asset ('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{ asset ('dist/js/adminlte.min.js')}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset ('dist/js/demo.js')}}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

{% endblock %}

{% block body %}
{{ form_start(form,{'attr': {'novalidate':'novalidate'}})}}
<div class="content" style="width:900px;height: 900px;margin-left:30px;margin-top:5%">
  <div class="card card-secondary ">
  <div class="card-header">
  <h3 class="card-title" >Modifer une Destination</h3>
 
  </div>
  <div class="modal-body">
          
    
        <div class="form-row">
          <div class="form-group col-md-4">
            {{ form_row(form.nom , {attr: {class: 'form-control',placeholder: 'Nom'}}) }}
          </div>
          <div class="form-group col-md-4">
            {{ form_row(form.email , {attr: {class: 'form-control',placeholder: 'email'}}) }}

          </div>
            <div class="form-group col-md-4">
                {{ form_row(form.num_tel , {attr: {class: 'form-control',placeholder: '71 171 717 '}}) }}

            </div>
            </div>
            
        <div class="form-row">
          <div class="form-group col-md-8">
            {{ form_row(form.description , {attr: {class: 'form-control',placeholder: 'bla bla bla bla bla..'}}) }}

          </div>
          <div class="form-group col-md-4">
            {{ form_row(form.souscategorie , {attr: {class: 'form-control',placeholder: '71 171 717 '}}) }}

          </div>
           </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              {{ form_row(form.adresse , {attr: {class: 'form-control',placeholder: '14,rue,aghle tamimi'}}) }}

            </div>
            <div class="form-group col-md-4">
                {{ form_row(form.delegation , {attr: {class: 'form-control'}}) }}

            
       </div>
       <div class="form-row">
        <div class="form-group col-md-12">
          
                {{ form_row(form.image ) }}

         
       </div>
    
    
    </div>
   
    
    
      </div>
      
      <div class="modal-footer justify-content-between">
        <a type="button" href="{{path('read_destination')}}" class="btn btn-secondary ">Retour</a>
        {{ form_row(form.update , {attr: {class: 'btn btn-primary'}}) }}

      </div>
  </div>
  
  </div>
  </div>
 
  </section>
  
  </div>
  {{form_end(form)}}
{% endblock %}
