
{% extends 'base.html.twig' %}





{% block body %}
{{ form_start(form,{'attr': {'novalidate':'novalidate'}} ) }}
<div class="content" style="width:900px;height: 900px;margin-left:30px;margin-top:10%">
    <div class="card card-secondary">
    <div class="card-header">
    <h3 class="card-title">Editer une catégorie</h3>
   
    </div>
    <div class="card-body">
    <div class="form-group">
    {{ form_row(form.libelle, {attr: {class: 'form-control '}}) }}
    {{ form_row(form.description , {attr: {class: 'form-control'}}) }}
</div>

<div class="modal-footer justify-content-between">


    <a type="button" href="{{path('read_categorie')}}" class="btn btn-secondary ">Retour</a>
     {{ form_row(form.Update,{attr: {class: 'btn btn-primary'}}) }}



  {{ form_end(form) }}

    </div>
    
    </div>
    
    </div>
    </div>
   
    </section>
    
    </div>
{% endblock %}
